# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# environment variables
.env

# poetry 
poetry.lock